
        <style  type="text/css" >
        
            #T_c599db2e_08ff_11e7_b732_080027728be1 th {
            
                font-size: 7pt;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1 td {
            
                padding: 1em 1em;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1 th:hover {
            
                font-size: 12pt;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1 tr:hover td:hover {
            
                max-width: 200px;
            
                font-size: 12pt;
            
            }
        
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row0_col0 {
            
                background-color:  #4479bb;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row0_col1 {
            
                background-color:  #5f8cc5;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row0_col2 {
            
                background-color:  #95b3d8;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row0_col3 {
            
                background-color:  #adc4e1;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row0_col4 {
            
                background-color:  #f2f2f2;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row0_col5 {
            
                background-color:  #d73c5b;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row0_col6 {
            
                background-color:  #6490c6;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row0_col7 {
            
                background-color:  #7099cb;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row0_col8 {
            
                background-color:  #e0657d;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row1_col0 {
            
                background-color:  #6490c6;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row1_col1 {
            
                background-color:  #4479bb;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row1_col2 {
            
                background-color:  #9bb7da;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row1_col3 {
            
                background-color:  #a4bede;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row1_col4 {
            
                background-color:  #f2f2f2;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row1_col5 {
            
                background-color:  #d73c5b;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row1_col6 {
            
                background-color:  #759ccd;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row1_col7 {
            
                background-color:  #7ba0cf;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row1_col8 {
            
                background-color:  #e16b82;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row2_col0 {
            
                background-color:  #bdd0e7;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row2_col1 {
            
                background-color:  #b5cae4;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row2_col2 {
            
                background-color:  #4479bb;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row2_col3 {
            
                background-color:  #85a7d2;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row2_col4 {
            
                background-color:  #f9e0e5;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row2_col5 {
            
                background-color:  #d73c5b;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row2_col6 {
            
                background-color:  #87a9d3;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row2_col7 {
            
                background-color:  #85a7d2;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row2_col8 {
            
                background-color:  #de5c76;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row3_col0 {
            
                background-color:  #cfddee;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row3_col1 {
            
                background-color:  #b7cbe5;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row3_col2 {
            
                background-color:  #7fa3d0;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row3_col3 {
            
                background-color:  #4479bb;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row3_col4 {
            
                background-color:  #ec9faf;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row3_col5 {
            
                background-color:  #d73c5b;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row3_col6 {
            
                background-color:  #c5d5ea;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row3_col7 {
            
                background-color:  #c7d7eb;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row3_col8 {
            
                background-color:  #e3748a;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row4_col0 {
            
                background-color:  #fae7eb;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row4_col1 {
            
                background-color:  #ebf1f8;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row4_col2 {
            
                background-color:  #cfddee;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row4_col3 {
            
                background-color:  #f7d6dd;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row4_col4 {
            
                background-color:  #4479bb;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row4_col5 {
            
                background-color:  #d73c5b;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row4_col6 {
            
                background-color:  #c7d7eb;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row4_col7 {
            
                background-color:  #d9e4f1;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row4_col8 {
            
                background-color:  #e3768c;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row5_col0 {
            
                background-color:  #d73c5b;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row5_col1 {
            
                background-color:  #e0657d;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row5_col2 {
            
                background-color:  #efb1be;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row5_col3 {
            
                background-color:  #ea97a8;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row5_col4 {
            
                background-color:  #dc516d;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row5_col5 {
            
                background-color:  #4479bb;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row5_col6 {
            
                background-color:  #e16981;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row5_col7 {
            
                background-color:  #f3c4cd;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row5_col8 {
            
                background-color:  #f4c9d2;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row6_col0 {
            
                background-color:  #6993c8;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row6_col1 {
            
                background-color:  #779dcd;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row6_col2 {
            
                background-color:  #789ece;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row6_col3 {
            
                background-color:  #b2c8e3;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row6_col4 {
            
                background-color:  #d3dfef;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row6_col5 {
            
                background-color:  #d73c5b;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row6_col6 {
            
                background-color:  #4479bb;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row6_col7 {
            
                background-color:  #6892c8;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row6_col8 {
            
                background-color:  #de5b75;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row7_col0 {
            
                background-color:  #7fa3d0;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row7_col1 {
            
                background-color:  #85a7d2;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row7_col2 {
            
                background-color:  #7ea2d0;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row7_col3 {
            
                background-color:  #c6d6ea;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row7_col4 {
            
                background-color:  #fae6ea;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row7_col5 {
            
                background-color:  #e3788d;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row7_col6 {
            
                background-color:  #6d96ca;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row7_col7 {
            
                background-color:  #4479bb;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row7_col8 {
            
                background-color:  #d73c5b;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row8_col0 {
            
                background-color:  #d73c5b;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row8_col1 {
            
                background-color:  #e16b82;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row8_col2 {
            
                background-color:  #eeaab7;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row8_col3 {
            
                background-color:  #eca4b3;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row8_col4 {
            
                background-color:  #df627b;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row8_col5 {
            
                background-color:  #eeabb8;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row8_col6 {
            
                background-color:  #de5f79;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row8_col7 {
            
                background-color:  #e27288;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
            #T_c599db2e_08ff_11e7_b732_080027728be1row8_col8 {
            
                background-color:  #4479bb;
            
                font-size:  10pt;
            
                max-width:  80px;
            
            }
        
        </style>

        <table id="T_c599db2e_08ff_11e7_b732_080027728be1" None>
        
            <caption>2009 Correlation Matrixcovariates: violent,no_violent,number_cars,suspects_federal_crimes,number_strikes,primary_activities,employed_pop,unemployed_pop,rate_sentenced</caption>
        

        <thead>
            
            <tr>
                
                
                <th class="blank level0" >
                  
                
                
                
                <th class="col_heading level0 col0" colspan=1>
                  3
                
                
                
                <th class="col_heading level0 col1" colspan=1>
                  4
                
                
                
                <th class="col_heading level0 col2" colspan=1>
                  5
                
                
                
                <th class="col_heading level0 col3" colspan=1>
                  6
                
                
                
                <th class="col_heading level0 col4" colspan=1>
                  7
                
                
                
                <th class="col_heading level0 col5" colspan=1>
                  8
                
                
                
                <th class="col_heading level0 col6" colspan=1>
                  9
                
                
                
                <th class="col_heading level0 col7" colspan=1>
                  10
                
                
                
                <th class="col_heading level0 col8" colspan=1>
                  11
                
                
            </tr>
            
        </thead>
        <tbody>
            
            <tr>
                
                
                <th id="T_c599db2e_08ff_11e7_b732_080027728be1"
                 class="row_heading level0 row0" rowspan=1>
                    3
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row0_col0"
                 class="data row0 col0" >
                    1
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row0_col1"
                 class="data row0 col1" >
                    0.9231
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row0_col2"
                 class="data row0 col2" >
                    0.7738
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row0_col3"
                 class="data row0 col3" >
                    0.7134
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row0_col4"
                 class="data row0 col4" >
                    0.5205
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row0_col5"
                 class="data row0 col5" >
                    0.03489
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row0_col6"
                 class="data row0 col6" >
                    0.9098
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row0_col7"
                 class="data row0 col7" >
                    0.8777
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row0_col8"
                 class="data row0 col8" >
                    0.1467
                
                
            </tr>
            
            <tr>
                
                
                <th id="T_c599db2e_08ff_11e7_b732_080027728be1"
                 class="row_heading level0 row1" rowspan=1>
                    4
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row1_col0"
                 class="data row1 col0" >
                    0.9231
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row1_col1"
                 class="data row1 col1" >
                    1
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row1_col2"
                 class="data row1 col2" >
                    0.7881
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row1_col3"
                 class="data row1 col3" >
                    0.7655
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row1_col4"
                 class="data row1 col4" >
                    0.5677
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row1_col5"
                 class="data row1 col5" >
                    0.1476
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row1_col6"
                 class="data row1 col6" >
                    0.8783
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row1_col7"
                 class="data row1 col7" >
                    0.8646
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row1_col8"
                 class="data row1 col8" >
                    0.2598
                
                
            </tr>
            
            <tr>
                
                
                <th id="T_c599db2e_08ff_11e7_b732_080027728be1"
                 class="row_heading level0 row2" rowspan=1>
                    5
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row2_col0"
                 class="data row2 col0" >
                    0.7738
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row2_col1"
                 class="data row2 col1" >
                    0.7881
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row2_col2"
                 class="data row2 col2" >
                    1
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row2_col3"
                 class="data row2 col3" >
                    0.8775
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row2_col4"
                 class="data row2 col4" >
                    0.6398
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row2_col5"
                 class="data row2 col5" >
                    0.3455
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row2_col6"
                 class="data row2 col6" >
                    0.8728
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row2_col7"
                 class="data row2 col7" >
                    0.8782
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row2_col8"
                 class="data row2 col8" >
                    0.4051
                
                
            </tr>
            
            <tr>
                
                
                <th id="T_c599db2e_08ff_11e7_b732_080027728be1"
                 class="row_heading level0 row3" rowspan=1>
                    6
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row3_col0"
                 class="data row3 col0" >
                    0.7134
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row3_col1"
                 class="data row3 col1" >
                    0.7655
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row3_col2"
                 class="data row3 col2" >
                    0.8775
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row3_col3"
                 class="data row3 col3" >
                    1
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row3_col4"
                 class="data row3 col4" >
                    0.4779
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row3_col5"
                 class="data row3 col5" >
                    0.2777
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row3_col6"
                 class="data row3 col6" >
                    0.7357
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row3_col7"
                 class="data row3 col7" >
                    0.7318
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row3_col8"
                 class="data row3 col8" >
                    0.3909
                
                
            </tr>
            
            <tr>
                
                
                <th id="T_c599db2e_08ff_11e7_b732_080027728be1"
                 class="row_heading level0 row4" rowspan=1>
                    7
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row4_col0"
                 class="data row4 col0" >
                    0.5205
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row4_col1"
                 class="data row4 col1" >
                    0.5677
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row4_col2"
                 class="data row4 col2" >
                    0.6398
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row4_col3"
                 class="data row4 col3" >
                    0.4779
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row4_col4"
                 class="data row4 col4" >
                    1
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row4_col5"
                 class="data row4 col5" >
                    0.09172
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row4_col6"
                 class="data row4 col6" >
                    0.6598
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row4_col7"
                 class="data row4 col7" >
                    0.6144
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row4_col8"
                 class="data row4 col8" >
                    0.2385
                
                
            </tr>
            
            <tr>
                
                
                <th id="T_c599db2e_08ff_11e7_b732_080027728be1"
                 class="row_heading level0 row5" rowspan=1>
                    8
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row5_col0"
                 class="data row5 col0" >
                    0.03489
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row5_col1"
                 class="data row5 col1" >
                    0.1476
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row5_col2"
                 class="data row5 col2" >
                    0.3455
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row5_col3"
                 class="data row5 col3" >
                    0.2777
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row5_col4"
                 class="data row5 col4" >
                    0.09172
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row5_col5"
                 class="data row5 col5" >
                    1
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row5_col6"
                 class="data row5 col6" >
                    0.1587
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row5_col7"
                 class="data row5 col7" >
                    0.3946
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row5_col8"
                 class="data row5 col8" >
                    0.4083
                
                
            </tr>
            
            <tr>
                
                
                <th id="T_c599db2e_08ff_11e7_b732_080027728be1"
                 class="row_heading level0 row6" rowspan=1>
                    9
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row6_col0"
                 class="data row6 col0" >
                    0.9098
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row6_col1"
                 class="data row6 col1" >
                    0.8783
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row6_col2"
                 class="data row6 col2" >
                    0.8728
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row6_col3"
                 class="data row6 col3" >
                    0.7357
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row6_col4"
                 class="data row6 col4" >
                    0.6598
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row6_col5"
                 class="data row6 col5" >
                    0.1587
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row6_col6"
                 class="data row6 col6" >
                    1
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row6_col7"
                 class="data row6 col7" >
                    0.914
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row6_col8"
                 class="data row6 col8" >
                    0.2318
                
                
            </tr>
            
            <tr>
                
                
                <th id="T_c599db2e_08ff_11e7_b732_080027728be1"
                 class="row_heading level0 row7" rowspan=1>
                    10
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row7_col0"
                 class="data row7 col0" >
                    0.8777
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row7_col1"
                 class="data row7 col1" >
                    0.8646
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row7_col2"
                 class="data row7 col2" >
                    0.8782
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row7_col3"
                 class="data row7 col3" >
                    0.7318
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row7_col4"
                 class="data row7 col4" >
                    0.6144
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row7_col5"
                 class="data row7 col5" >
                    0.3946
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row7_col6"
                 class="data row7 col6" >
                    0.914
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row7_col7"
                 class="data row7 col7" >
                    1
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row7_col8"
                 class="data row7 col8" >
                    0.2745
                
                
            </tr>
            
            <tr>
                
                
                <th id="T_c599db2e_08ff_11e7_b732_080027728be1"
                 class="row_heading level0 row8" rowspan=1>
                    11
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row8_col0"
                 class="data row8 col0" >
                    0.1467
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row8_col1"
                 class="data row8 col1" >
                    0.2598
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row8_col2"
                 class="data row8 col2" >
                    0.4051
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row8_col3"
                 class="data row8 col3" >
                    0.3909
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row8_col4"
                 class="data row8 col4" >
                    0.2385
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row8_col5"
                 class="data row8 col5" >
                    0.4083
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row8_col6"
                 class="data row8 col6" >
                    0.2318
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row8_col7"
                 class="data row8 col7" >
                    0.2745
                
                
                
                <td id="T_c599db2e_08ff_11e7_b732_080027728be1row8_col8"
                 class="data row8 col8" >
                    1
                
                
            </tr>
            
        </tbody>
        </table>
        