<main>
    <style type="text/css">    
      {
        background-color:white;
      }

      h1
      {
        font-size:25px;
        margin-top:0;
        font-family:Times, sans-serif;
        text-align: left;
        text-shadow:0px 0 0px #292929;
        letter-spacing:1px;
        text-decoration:none;
        color:black;
      }
      h2
      {
        font-size:25px;
        margin-top:0;
        font-family:Times, sans-serif;
        text-align: left;
        text-shadow:0px 0 0px #292929;
        letter-spacing:1px;
        text-decoration:none;
        color:black;
      }
      h3
      {
        font-size:25px;
        margin-top:0;
        font-family:Times, sans-serif;
        text-align: left;
        text-shadow:0px 0 0px #292929;
        letter-spacing:1px;
        text-decoration:none;
        color:black;
      }
      h4
      {
        font-size:25px;
        margin-top:0;
        font-family:Times, sans-serif;
        text-align: left;
        text-shadow:0px 0 0px #292929;
        letter-spacing:1px;
        text-decoration:none;
        color:black;
      }
      h5
      {
        font-size:25px;
        margin-top:0;
        font-family:Times, sans-serif;
        text-align: left;
        text-shadow:0px 0 0px #292929;
        letter-spacing:1px;
        text-decoration:none;
        color:black;
      }
      </style>

    <h1>Actual Crime</h1>
    {{data1 | safe}}
    <br> </br>
    
    <h2>Predicted Crime</h2>
    {{data2 | safe}}
    <br> </br>

    <h3>Coefficient Table (Ascending)</h3>
    {{data3 | safe}}
    <br> </br>

    <h4>Coefficient Table (Descending)</h4>
    {{data4 | safe}}
    <br> </br>

    <h5>Mean Square Error</h5>
    {{data5 | safe}}



</main>
