<main>

 <h1>Please select the year and crime type to predict crime rates</h1>
    <style>
      h1
      {
        font-size:25px;
        margin-top:5;
        font-family:Times, sans-serif;
        letter-spacing:1px;
        text-decoration:none;
        color:black;
      }

    </style>

    <form action="/predictive_analytics_output" method="get">

        <p1>Crime Type</p1>
        
        <select name="crime_type">
        {% for crime in crime_types_list %}

            <option value="{{crime}}">{{crime}}</option>

        {% endfor %}
    
        </select>
        <br> </br>

        <p2>Year</p2> 
        
        <select name="year">
        {% for year in years %}

            <option value="{{year[0]}}">{{year[0]}}</option>

        {% endfor %}
        </select>
        <br> </br>
        <input type="submit" value="Submit">
    </form>

</main>